TP1_Durand-JF/ex4.dtd

<!ELEMENT itineraire (recapitulatif, detail)>
<!ELEMENT recapitulatif (depart, arrivee, date, mode, preferences, vitesse, duree)>
<!ELEMENT depart (#PCDATA)>
<!ELEMENT arrivee (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT mode (#PCDATA)>
<!ELEMENT preferences (#PCDATA)>
<!ELEMENT vitesse (#PCDATA)>
<!ELEMENT duree (#PCDATA)>
<!ELEMENT detail (etapes)+>
<!ELEMENT etapes (#PCDATA)>
<!ATTLIST etapes
	heure CDATA #IMPLIED
	direction CDATA #IMPLIED
	duree CDATA #IMPLIED
	mode CDATA #REQUIRED
>